@import "_vars.scss";

.site-header {
  position: fixed;
  width: 100%;
  padding: 2.928% 6.076%;
  z-index: 100;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-button {
    border: none;
    padding: 0;
    background: transparent;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    transition: all 0.3s ease;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: $main-blue;
      .nav-button__icon {
        background-color: #fff;
      }
    }

    &__icon {
      width: 24px;
      height: 3px;
      position: relative;
      display: inline-block;
      background-color: $main-blue;
      vertical-align: middle;
      transition: all 0.3s ease;
      bottom: 1px;
      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: inherit;
        left: 0;
      }
      &::after {
        top: 7px;
      }
      &::before {
        bottom: 7px;
      }
    }
  }

  &__logo {
    width: 48px;
    height: 48px;
    background-image: url(../img/logo.svg);
    display: inline-block;
  }
}

.section-three {
  .additional-title {
    max-width: 223px;
    max-height: 200px;
  }
}
