@import "_fonts.scss";
@import "../libs/bootstrap/bootstrap-reboot.min.css";
@import "_var.scss";
@import "_libs.scss";
@import "header.scss";

*::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

*:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
*::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #fff;
}
body input:required:valid,
body textarea:required:valid {
  color: #fff;
}

html,
body {
  height: 100%;
}

.main-title {
  font: normal 64px/74px "Alike";
  color: $dark-blue;
  letter-spacing: 0.04em;
  margin: 0;
}

.additional-title {
  font: normal 500 36px/46px "Roboto";
  letter-spacing: 0.05em;
  color: $additional-blue;
  margin: 0;
}

.main-text {
  font: normal 16px/26px "Roboto";
  letter-spacing: 0.05em;
  color: $dark-blue;
  opacity: 0.6;
  margin: 0;
}

.main-btn {
  font: normal 16px/26px "Roboto";
  letter-spacing: 0.04em;
  color: #ffffff;
  background: $light-blue;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  border: none;
  padding: 0 50px;
  height: 56px;
}

.section-one {
  padding: 7.32% 0;
  background: linear-gradient(
    0deg,
    #98c3e8 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
  background-image: url(../img/illustration.svg);
  background-repeat: no-repeat;
  background-position: right 1.711% bottom 3%;
  background-size: 50.311% auto;
  &__content {
    max-width: 625px;
    margin: 7.894% 0;
    .main-title {
      margin-bottom: 35px;
    }
    .main-text {
      max-width: 425px;
      margin-bottom: 71px;
    }
  }
}

.section-two {
  padding: 180px 0;

  &__title {
    margin-bottom: 158px;

    .additional-title {
      max-width: 400px;
    }
  }

  &__card {
    max-width: 380px;
    background: #ffffff;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin-bottom: 100px;
    margin-left: 70px;
    &.align-right {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__card-img-wrap {
    padding-top: 236px;
    position: relative;

    img {
      position: absolute;
      bottom: 51px;
      left: 50%;
      transform: translate(-50%);
    }
  }

  &__card-content {
    padding: 0 48px 0;
  }

  &__card-title {
    font: normal 500 20px/30px "Roboto";
    letter-spacing: 0.05em;
    color: $dark-blue;
    margin-bottom: 16px;
  }

  &__card-link {
    display: inline-block;
    font: normal 500 14px/30px "Roboto";
    letter-spacing: 0.05em;
    color: $light-blue;
    margin-top: 32px;
    margin-bottom: 48px;
  }
}

//ALWAYS END
@import "_media.scss";
